.contact_section {
  display: flex;
  gap: 25px;
}
.contact_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 20px;
}

.contact_section > form {
  padding: 25px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.contact_section > form > label {
  display: flex;
  font-size: 16px;
  color: #767676;
  flex-direction: column;
  gap: 5px;
}

.contact_section > form > label > input {
  width: 100%;
  height: 50px;
  background-color: #f0f0f6;
  border: none;
  outline: none;
  text-indent: 15px;
  font-size: 16px;
}
.contact_section > form > label > textarea {
  width: 100%;
  height: 210px;
  padding-top: 15px;
  background-color: #f0f0f6;
  border: none;
  outline: none;
  text-indent: 15px;
  font-size: 16px;
}

.contact_section > form button {
  width: 159px;
  height: 35px;
  font-size: 14px;
  border: none;
  background-color: #ffb400;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
